<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/about.css">

</head>
<body>
   
   <section class="hero">
    <div class="heading">
        <h1> About us</h1>
    </div>
    <div class="container">
        <div class="hero-content">
            <h2>Welcome to our website</h2>
            <p>Welcome to website, that supports non-profit organization committed to making a positive impact on our world. On our website you will find missions to make the world a better place by saving innocent lives and protect the envi, we have been tirelessly working to create a brighter and more sustainable future for our communities and the planet.</p>
        <button class="ca-button">Learn more</button>
       </div>
<div class="hero-image">
    <img src="dog2.jpg">
</div>
    </div>
</body>
</html>