<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap">
    <link rel="stylesheet" href="static/contact.css"> <!-- Replace with the actual path to your CSS file -->
</head>
<body>
    <div class="wrapper">
        <div class="title">Contact Us</div>
        <form action="contact" method="post" class="form">
            {% csrf_token %}
            <div class="input_field">
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname">
            </div>
            <div class="input_field">
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname">
            </div>
            <div class="input_field">
                <label for="subject">Ask a question ?</label>
                <input type="text" id="subject" name="subject">
            </div>
            <div class="input_field">
                <label for="inputCity">City:</label>
                <input type="text" id="inputCity" name="inputCity">
            </div>
            <div class="input_field">
                <label for="state">State:</label>
                <select id="state" name="state">
                    <option selected>Choose...</option>
                    <option>Maharashtra</option>
                    <option>Madhya Pradesh</option>
                    <option>Rajasthan</option>
                </select>
            </div>
            <div class="input_field">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
