<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewprt" content="width=device-width, initial-scale=1.0"/>
        <title>
            "NGO WEBSITE"
        </title>
        <link rel="stylesheet" href="static/indexpage.css">
    </head>
    <body>
        <div class="fullcontainer banner" id="homeSection">
            <header>
                <div class="container">
                    <div class="logo">
                <img src="static/logo.jpg" alt="NGO logo">

                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="/about">About us</a>
                            </li>
                            <li>
                                <a href="/add">Report</a>
                            </li>
                            <li>
                                <a href="/volunteer">Volunteer</a>
                            </li>
                            <li>
                                <a href="/contact">Contact us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="container">
                <h1>Together we can<span> Save lives</span></h1>
                <p> <h3>"Connecting Hearts, Rescuing Lives: Join Us in Creating a Compassionate Community for Animals in Need."</h3></p>
                <button>Start with a little</button>
            </div>

        </div>
        <section class="fullcontainer" id="aboutsection">
            <div class="container">
                <h2 class="sectiontitle">About Us</h2>
                <p>
                    My vision for NGOs is a world where these organizations serve as 
                    catalysts for positive change, empowering communities, 
                    promoting equity, and fostering sustainable solutions to 
                    the most pressing global challenges.

                </p>
                <div class="cards">
                    <div class="donationbox">
                        <div class="title">Give donation</div>
                    <p>
                     Your donation can save many lives   
                    </p>
                    <button>
                        donate now
                    </button>
                    </div>
                    <div class="volunteerbox">
                        <div class="title">become a volunteer</div>
                    <p>
                     volunteer yourself 
                    </p>
                    <a href="/volunteer">
                    <button>
                        become now
                    </button>
                    </div>
                    <!--donation box end-->
                </div>
            </div>
        </section>
        <section class="programs" id="ngossection">
            <div class="container">
                <h2 class="sectionTITLE">NGO</h2>
                <div class="boxContainer">
                    <div class="box">
                        <div class="cardIMAGE"></div>
                        <div class="ngosTITLE">DOG SHELTER</div>
                        <div class="donationCount">
                            Donation goal: <span>RS 100000</span>
                        </div>
                        <button>Donate Now</button>
                    </div>
                    <!-- box end -->
                    <div class="box">
                        <div class="cardIMAGE"></div>
                        <div class="ngosTITLE">ANIMAL AID</div>
                        <div class="donationCount">
                            Donation goal: <span>RS 100000</span>
                        </div>
                        <button>Donate Now</button>
                    </div>
                    <!-- box end -->
                    <div class="box">
                        <div class="cardIMAGE"></div>
                        <div class="ngosTITLE">CAT SHELTER</div>
                        <div class="donationCount">
                            Donation goal: <span>RS 10000</span>
                        </div>
                        <button>Donate Now</button>
                    </div>
                    <!-- box end -->
                    <div class="box">
                        <div class="cardIMAGE"></div>
                        <div class="ngosTITLE">ANIMAL RESCUE</div>
                        <div class="donationCount">
                            Donation goal: <span>RS 100000</span>
                        </div>
                        <button>Donate Now</button>
                    </div>
                    <!-- box end -->
                </div>
            </div>
        </section>
        
              </div>
              <!--box container end-->
        </section>

    </body>
</html>