<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewprt" content="width=device-width, initial-scale=1.0"/>
        <title>
            "NGO WEBSITE"
        </title>
        <link rel="stylesheet" href="static/indexpage.css">
    </head>
    <body>
        <div class="fullcontainer banner" id="homeSection">
            <header>
                <div class="container">
                    <div class="logo">
                <img src="images2.png" alt="NGO logo">

                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="/home/">Home</a>
                            </li>
                            <li>
                                <a href="/about">About us</a>
                            </li>
                            <li>
                                <a href="/ngos">NGOS</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Reports</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Gallery</a>
                            </li>
                            <li>
                                <a href="/contact">Contact us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="container">
                <h1>Together we can<span> Save lives</span></h1>
                <p> Together, let's be their champions and ensure they receive the love and care they deserve.</p>
                <button>Start with a little</button>
            </div>

        </div>
        <section class="fullcontainer" id="aboutsection">
            <div class="container">
                <h2 class="sectiontitle">About Us</h2>
                <p>
                    My vision for NGOs is a world where these organizations serve as 
                    catalysts for positive change, empowering communities, 
                    promoting equity, and fostering sustainable solutions to 
                    the most pressing global challenges.

                </p>
                <div class="cards">
                    <div class="donationbox">
                        <div class="title">Give donation</div>
                    <p>
                     Your donation can save many lives   
                    </p>
                    <button>
                        donate now
                    </button>
                    </div>
                    <div class="volunteerbox">
                        <div class="title">become a volunteer</div>
                    <p>
                     volunteer yourself 
                    </p>
                    <button>
                        become now
                    </button>
                    </div>
                    <div class="scholarshipbox">
                        <div class="title">give scholarship</div>
                    <p>
                     give a scholarship  
                    </p>
                    <button>
                        give immediately 
                    </button>
                    </div>
                    <!--donation box end-->
                </div>
            </div>
        </section>
        <section class="programs" id="ngossection">
            <div class="container">
                <h2 class="sectionTITLE">NGO</h2>
                <div class="boxContainer">
                    <div class="box">
                        <div class="cardIMAGE"></div>
                        <div class="ngosTITLE">DOG SHELTER</div>
                        <div class="donationCount">
                            Donation goal: <span>RS 100000</span>
                        </div>
                        <button>Donate Now</button>
                    </div>
                    <!-- box end -->
                    <div class="box">
                        <div class="cardIMAGE"></div>
                        <div class="ngosTITLE">Animal Aid</div>
                        <div class="donationCount">
                            Donation goal: <span>RS 100000</span>
                        </div>
                        <button>Donate Now</button>
                    </div>
                    <!-- box end -->
                    <div class="box">
                        <div class="cardIMAGE"></div>
                        <div class="ngosTITLE">Cat SHELTER</div>
                        <div class="donationCount">
                            Donation goal: <span>RS 10000</span>
                        </div>
                        <button>Donate Now</button>
                    </div>
                    <!-- box end -->
                    <div class="box">
                        <div class="cardIMAGE"></div>
                        <div class="ngosTITLE"></div>
                        <div class="donationCount">
                            Donation goal: <span>RS 100000</span>
                        </div>
                        <button>Donate Now</button>
                    </div>
                    <!-- box end -->
                </div>
            </div>
        </section>
        
              </div>
              <!--box container end-->
        </section>

    </body>
</html>